<div *ngIf="itemDetail != undefined" class="ui stackable two column grid" style="padding: 10px;">
    <div class="ten wide column">
        <div>
            <img class="ui fluid image" src="{{itemDetail.item.imgurl}}">
        </div>
    </div>
    <div class="five wide column">
        <h4 class="ui horizontal divider header"><i class="tag icon"></i>Item Description</h4>
        <p>{{itemDetail.item.description}}</p>
        <h4 class="ui horizontal divider header"><i class="bar chart icon"></i>Item Info</h4>
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="two wide column">Name</td>
                    <td>{{itemDetail.item.name}}</td>
                </tr>
                <tr>
                    <td class="two wide column">Price</td>
                    <td>{{itemDetail.item.price | currency}}</td>
                </tr>
                <tr>
                    <td class="two wide column">Qty</td>
                    <td>
                        <select name="qty" (change)="selectChangeHandler($event)">
                            <option *ngFor="let q of qty" value="{{q.value}}">{{q.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>5 stars</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="center aligned"><button (click)="addToCart()" class="positive ui button">ADD TO CARD</button></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isAddItemToCartSuccess" class="ui green message">
            <i class="close icon" (click)="close()"></i>
            item added to cart successfully
        </div>
    </div>
</div>