<h1 class="ui header">Clothes</h1>
<div class="ui three stackable cards">
    <div class="card" *ngFor="let cloth of clothes">
        <div [ngClass]="['image', 'item']" [routerLink]="['/item', cloth.id]">
            <img src="{{cloth.imgurl}}">
        </div>
        <div class="content" [ngClass]="item">
            <a [routerLink]="['/item', cloth.id]">{{cloth.name}}</a>
        </div>
        <div class="content" [ngClass]="item">
            {{cloth.price | currency}}
        </div>
    </div>
</div>
