<h1 class="ui header">Clothes</h1>
<div class="ui three stackable cards">
    <div class="card" *ngFor="let cloth of clothes">
        <div [ngClass]="['image', 'item']" [routerLink]="['/store/clothes', cloth.id]">
            <img src="{{cloth.imgurl}}">
        </div>
        <div class="content" [ngClass]="item">
            {{cloth.name}}
        </div>
        <div class="extra content center aligned">
            <button class="positive ui button">ADD TO CARD</button>
        </div>
    </div>
</div>
