<div class="ui grid">
  <div class="three wide column">
    <h3 class="ui header">
      categories
    </h3>
    <div class="ui middle aligned selection list">
      <div class="item" *ngFor="let category of categories">
        <i class="{{category.icon}}"></i>
        <div class="content">
          <a [routerLink]="[category.route]">
            <div class="header">{{category.name}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nine wide column">
    <router-outlet></router-outlet>
  </div>
</div>