
<div class="ui grid">
    <div class="four wide column">
        <p>categories</p>
        <div class="ui middle aligned selection list">
            <div class="item">
              <i class="shopping cart icon"></i>
              <div class="content">
                <a [routerLink]="['/store/electronics']"><div class="header">ELECTRONICS</div></a>
              </div>
            </div>
            <div class="item">
              <i class="shopping cart icon"></i>
              <div class="content">
                <a [routerLink]="['/store/books']"><div class="header">BOOKS</div></a>
              </div>
            </div>
            <div class="item">
              <i class="shopping cart icon"></i>
              <div class="content">
                <a [routerLink]="['/store/clothes']"><div class="header">CLOTHING</div></a>
              </div>
            </div>
          </div>
        </div>
    <div class="eight wide column">
        <!-- <app-electronic></app-electronic>
        <p>items for sell</p> -->
        <router-outlet></router-outlet>
    </div>
</div>