<div class="ui grid">
  <div class="four wide column">
    <p>categories</p>
    <div class="ui middle aligned selection list">
      <div class="item" *ngFor="let category of categories">
        <i class="{{category.icon}}"></i>
        <div class="content">
          <a [routerLink]="[category.route]">
            <div class="header">{{category.name}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <router-outlet></router-outlet>
  </div>
</div>