<div class="ui one column grid">
    <div class="row">
        <h1 class="ui header">most viewed items</h1>
        <div class="ui four stackable cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="ui header">recently viewed items</h1>
        <div class="ui four stackable cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
                </div>
            </div>
        </div>
    </div>
</div>