<div class="ui three stackable cards">
    <div class="card" *ngFor="let electronic of electronics">
        <div class="image">
            <img src="{{electronic.imgurl}}">
        </div>
        <div class="content">
            <a [routerLink]="['/store/electronics', electronic.id]" class="header center aligned">{{electronic.name}}</a>
        </div>
        <div class="extra content center aligned">
            <button class="positive ui button">ADD TO CARD</button>
        </div>
    </div>
</div>

