<h4 class="ui horizontal divider header"><i class="tag icon"></i>Electronics</h4>
<div class="ui three stackable cards">
    <div class="card" *ngFor="let electronic of electronics">
        <div [ngClass]="['image', 'item']" [routerLink]="['/item', electronic.id, electronic.category]">
            <img src="{{electronic.imgurl}}">
        </div>
        <div class="content" [ngClass]="item">
            <a [routerLink]="['/item', electronic.id, electronic.category]">{{electronic.name}}</a>
        </div>
        <div class="content" [ngClass]="item">
            {{electronic.price | currency}}
        </div>
    </div>
</div>