<h4 class="ui horizontal divider header"><i class="tag icon"></i>Books</h4>
<div class="ui three stackable cards">
    <div class="card" *ngFor="let book of books">
        <div [ngClass]="['image', 'item']" [routerLink]="['/item', book.id, book.category]">
            <img src="{{book.imgurl}}">
        </div>
        <div class="content" [ngClass]="item">
            <a [routerLink]="['/item', book.id, book.category]">{{book.name}}</a>
        </div>
        <div class="content" [ngClass]="item">
            {{book.price | currency}}
        </div>
    </div>
</div>