<div class="ui stackable four column grid" style="padding: 10px;">
    <div class="column">
        <div *ngIf="isError" class="ui red message">
            {{message}}
        </div>
        <form class="ui form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <div class="ui form">
                <div class="field">
                    <label>Email</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" required>
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                        <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <div class="ui left icon input">
                        <input type="confirm password" placeholder="Password" [(ngModel)]="user.confirmPassword" name="confirmPassword" required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <button class="fluid ui blue submit big button" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
        </form>
        <button class="fluid ui big button" (click)="login()">
            Login
        </button>
    </div>
</div>