<div class="ui padded grid">
  <div class="row">
    <div class="column">
      <div class="ui search">
        <div class="ui icon input" style="width: 100%;">
          <input class="prompt" type="text" placeholder="Search the entire store...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h1 class="ui header">new arrival items</h1>
      <div class="ui five stackable cards">
        <div class="card" *ngFor="let newArrivalItem of newArrivalItems">
          <div [ngClass]="['image', 'item']">
            <img src="{{newArrivalItem.imgurl}}">
          </div>
          <div class="content" [ngClass]="item">
            {{newArrivalItem.name}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <h1 class="ui header">new arrival items</h1>
      <div class="ui five stackable cards">
        <div class="card" *ngFor="let discountedItem of discountedItems">
          <div [ngClass]="['image', 'item']">
            <img src="{{discountedItem.imgurl}}">
          </div>
          <div class="content" [ngClass]="item">
            {{discountedItem.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>